.App {
  text-align: center;
  flex-direction: column;
}

.user-email {
  flex-direction: row;
  height: 48px;
  width: auto;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  padding: 2px 20px;
  justify-content: end;
  background: #FFFCFB;
  box-shadow: 0px 0px 3px 0px #00000033;
  align-items: center;
  margin-left: 50px;
}

.person-icon,
.email,
.user-email {
  display: flex;

}

.person-icon {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  transform: rotate(90deg);
  padding: 0px 3px;
  margin-right: 5px;
}

.email {
  height: 18px;
  width: 154px;
  left: 40px;
  top: 3px;
  border-radius: nullpx;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  flex: none;
  order: 1;
  flex-grow: 0;
}


.topRow {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-left: 52px;
  margin-right: 50px;
}

.topHead {
  margin-top: 100px;

  display: flex;
  height: 21px;
  width: 129px;
  left: 16px;
  top: 0px;
  border-radius: nullpx;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);

}

.App-log {
  margin: 32px;
  display: flex;
  height: 36px;
  width: 142px;
  left: 67px;
  top: 18px;
  border-radius: undefinedpx;
  font-family: IBM Plex Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #584A4ABD;
}

.container-all {
  height: 60vh;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.addstudentfrom {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 32px;


}

.tophead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  width: 129px;
  height: 21px;

  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 0px;
}

.top-date {
  width: 121px;
  height: 18px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame183 {
  margin-left: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 950px;
  height: 272px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fram184 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 950px;
  height: 48px;
  margin: 0px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.input-from-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 11px;
  gap: 10px;

  width: 50.67px;
  height: 28px;

  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.fram68 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 11px;
  gap: 10px;

  width: 400px;
  height: 28px;

  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.inputtext {
  width: 69px;
  height: 18px;

  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: rgba(0, 0, 0, 0.5);


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame177 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 16px;
  gap: 16px;

  width: 1000px;
  height: 64px;


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 50px;
}

.frame174 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 322.67px;
  height: 48px;

  background: #FF2108;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: #FFFFFF;
  cursor: pointer;

}

.sidebar {
  display: flex;
  flex-direction: column;

}

.main {
  background-color: blue;
  display: flex;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.frame62{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: relative;
width: 950px;
height: 271.85px;

border-radius: 5px;
}
.rac222{
  width: 950px;
height: 48px;

background: #F33823;
border-radius: 5px 5px 0px 0px;
justify-content: space-around;
align-items: center;
/* Inside auto layout */
display: flex;
flex-direction: row;
flex: none;
order: 0;
flex-grow: 0;
}
.head-table{
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.item-data{
  width: 200px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.rac223{
  width: 950px;
  height: 48px;
  
  justify-content: space-around;
  align-items: center;
  /* Inside auto layout */
  display: flex;
  flex-direction: row;
  flex: none;
  order: 0;
  flex-grow: 0;
}